* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
}

.main .navbar {
  width: 100%;
  background-color: #393e42;
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 45%;
}

.main .navbar .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.main .navbar .nav h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 45px;
}

.main .navbar .nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.main .content {
  width: 100%;
  margin-top: 25px;
}

.main .content div:first-child {
  width: 100%;
  color: #393e42;
  padding-left: 10px;
}

.main .content .reservationsTable {
  width: 100%;
  padding: 20px;
}

.main .content .reservationsTable table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  background-color: #1d29a8;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.main .content .reservationsTable table td,
th {
  padding: 10px 15px;
  text-align: center;
  margin: 0;
  color: white;
  border: 1px solid black;
}

.main .content .reservationsTable table td{
    background-color: #dedddd;
    color: black;
}

.main .content .reservationsTable table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

.main .content .reservationsTable table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

.main .content .reservationsTable table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.main .content .reservationsTable table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.main .content .reservationsTable table tr td input, select {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0b85d6;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.main .content .reservationsTable table tr td input:last-child{
    background-color: #ce2121;
}

.main .content .reservationsTable table tr td input:first-child:hover {
  background-color: rgb(4, 159, 225);
  color: black;
}

.main .content .reservationsTable table tr td input:last-child:hover {
    background-color: #dd4747;
    color: black;
}

.main .content .reservationsTable table tr td select{
    background-color: #b3b3b3;
    color: black;
}